nav{
    --MinHeight: 6em;

    background-color: rgb(190, 189, 189);
    height: auto;
    min-height: var(--MinHeight);
    padding: var(--padding);

    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;

}

.divNav {
    font-weight: bold;
    margin-left: 0.5em;
    margin-right: 0.5em;
    font-size: 1.2em;
    height: 100%;
    align-items: center;
}

.divLogo{
    margin-left: 0.5em;
    margin-right: 0.5em;
    height: 100%;
    background-image: url(./Imagenes/Logo.png);
    background-size: contain;
    background-repeat: no-repeat;
    width: 12em;
    height: 6em;
    background-position: center;
    background-color: rgb(190, 189, 189);
}






.divLogoMovil{
    height: 100%;
    background-image: url(./Imagenes/Logo.png);
    background-size: contain;
    background-repeat: no-repeat;
    width: 12em;
    height: 6em;
    background-position: center;
    background-color: rgb(190, 189, 189);
}
.divNavMovil{
    font-weight: bold;
    margin-left: 0.15em;
    margin-right: 0.15em;
    font-size: 1.2em;
    height: 100%;
    align-items: center;
}



.selectDiv {
    width: 140px;
    background-color: rgb(207, 197, 197);
    font-size: 0.9em;
    font-weight: bold;    
}

.currentSelector {
    padding: 10px;
    border: 1px solid black;
    cursor: pointer;

    
}

.options {
    display: none;
    position: absolute;
    width: 140px;

    border: 1px solid black;
    background-color: rgb(207, 197, 197);
    font-size: 1.2em;
    font-weight: bold;
}

.option {
    padding: 10px;
    cursor: pointer;
    border-bottom: 1px solid black;
}

.option:hover {
    transition: 0.2s;
    color: orange;
}




.navMovil {
    display: none;
}

.navPc {
    display: block;
}

@media (max-width: 962px) {
    .navMovil {
        display: block;
    }

    .navPc {
        display: none;
    }

}

.vr {
    margin-left: 0.5em;
    margin-right: 0.5em;
    background-color: rgb(255, 187, 0);
    width: 3px;
    height: calc(var(--MinHeight));
}

.vr_NavMovil {
    margin-right: 0.5em;
    background-color: rgb(255, 187, 0);
    width: 3px;
    height: calc(var(--MinHeight));
}



.currentPage {
    color: red;
}

red {
    color: red;
}
orange{
    color: orange;
}

p {
  text-align: justify;
}


.cajasExperiencia {
    border-style: solid;
    border-width: 1px;
    border-color: rgb(172, 170, 170);
    border-radius: 1em;
    padding: 1em;
    max-width: 700px;
}

.hrExperiencia{
    margin-left: 0px;
    margin-right: auto;
    max-width: 732px;
}
a {
    text-decoration: none;
    color: black;
}

a:hover {
    transition: 0.2s;
    color: orange;
}



body {
    margin: 0px;
    background-color: rgb(248, 245, 236);
    font-size: 1.2em;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

main {
    margin-top: 1em;
    padding: 1em;
}

.cajaTexto {
    padding: 2em;
    justify-content: left;
    text-align: left;
    width: 70%;
}

p{
    line-height: 1.2em;
}